MYSQL_DATABASE=coffee_order
MYSQL_USER=coffee
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
MYSQL_PRIMARY_PORT=3307
MYSQL_REPLICA_PORT=3308
MYSQL_REPLICATION_USER=replicator
MYSQL_REPLICATION_PASSWORD=change-me

DB_PRIMARY_USERNAME=coffee
DB_PRIMARY_PASSWORD=change-me
DB_REPLICA_USERNAME=coffee
DB_REPLICA_PASSWORD=change-me

REDIS_PORT=6379
